@import url("https://fonts.googleapis.com/css2?family=Instrument+Sans:ital,wght@0,400..700;1,400..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merienda:wght@300..900&display=swap");
@import "@flaticon/flaticon-uicons/css/all/all";

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Scrollbar config */
*::-webkit-scrollbar {
  width: 12px;
}

*::-webkit-scrollbar-track {
  background: theme("colors.black");
}

*::-webkit-scrollbar-thumb {
  background: -webkit-linear-gradient(
    top,
    theme("colors.black"),
    #836fff,
    theme("colors.black")
  );
  border-radius: 5px;
  border: 5px solid theme("colors.black");
  transition: background 0.2s ease; /* Smooth transition on background change */
}

*::-webkit-scrollbar-button {
  display: none;
}

*::-webkit-scrollbar-thumb:vertical {
  min-height: 30px;
}
*::-webkit-scrollbar-thumb:vertical:hover {
  cursor: grabbing;
}

*::-webkit-scrollbar-thumb:horizontal {
  min-width: 30px;
}

@layer components {
  * {
    @apply m-0 p-0 box-border text-base duration-100;
  }

  html {
    @apply overflow-x-hidden;
  }

  body {
    @apply font-Instrument font-normal text bg-black;
  }

  i {
    @apply mt-0.5;
  }

  section {
    @apply py-4 px-[5vw] md:px-[7vw] lg:px-[10vw];
  }

  ::selection {
    @apply bg-green/30;
  }

  img {
    @apply w-full h-full object-cover;
  }
  .text {
    @apply text-white;
  }
  .text-light {
    @apply text-white/80;
  }
  .text-dark {
    @apply text-white/60;
  }
  .adminHeading {
    @apply text-white text-2xl mb-2 lowercase;
  }
  .adminSubHeading {
    @apply text-green text-lg mb-2 uppercase underline underline-offset-4;
  }
  .input {
    @apply text-white bg-black rounded-md outline-none p-1 px-2 text-lg;
  }
  .button {
    @apply bg-black text-green rounded-md p-2;
  }
  .customButton {
    @apply transition-all duration-500 mb-2 hover:text-black hover:bg-white p-2 py-1 rounded-md;
  }
}

.ce-block__content,
.ce-toolbar__content {
  max-width: 900px;
}

.cdx-settings-button[data-tune="withBorder"],
.cdx-settings-button[data-tune="withBackground"],
.cdx-settings-button[data-tune="stretched"] {
  display: none;
}
